<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://code.alibabatech.com/schema/dubbo
         http://code.alibabatech.com/schema/dubbo/dubbo.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置springmvc框架对注解的支持-->
    <mvc:annotation-driven/>

    <!--消费方需要访问注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>

    <!--消费方不需要提供自己的端口号-->

    <!--消费方配置名称-->
    <dubbo:application name="dubbo-Consumer"></dubbo:application>


    <!--前面开发都是基于注解的,注解要想生效就得包扫描
     dubbo 我们现在也是基于注解,所以需要配置dubbo包扫描    -->
    <dubbo:annotation package="com.wang"/>
    <!--设置check为false是避免先开启消费方再开启注册中心空指针异常,设置时间是放了方便我们平时测试-->
    <dubbo:consumer check="false" timeout="120000"></dubbo:consumer>
</beans>